.header {
  background-color: #f1f8fc;
  border-bottom: 2px solid #0074c7;

  .logo {
    height: 60px;
    width: auto;
  }

  .nav-link {
    color: #00497c;
    margin-left: 15px;

    &.active {
      font-weight: bold;
      color: #0074c7;
    }

    &:hover {
      color: #cd2c2e;
    }
  }

  .site-title {
    font-size: 1.3rem;
  }

  .search-bar {
    width: 250px;

    input {
      font-size: 0.9rem;
      padding: 0.4rem 0.8rem;
    }

    @media (max-width: 768px) {
      .search-bar {
        margin-top: 1rem;
        width: 100%;
      }
    
      .navbar-nav {
        text-align: right;
      }
    }
  }
}
