<div class="container py-5">
  <h2 class="mb-4">Artisans du mois</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let artisan of artisans">
      <div class="card h-100 shadow-sm">
        <img [src]="artisan.image" [alt]="artisan.name" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ artisan.name }}</h5>
          <p class="card-text">{{ artisan.specialty }} à {{ artisan.location }}</p>
          <p class="card-text">
            <span class="text-warning">★</span> {{ artisan.note }}
          </p>
          <a [href]="artisan.website" class="btn btn-outline-primary btn-sm">Voir le site</a>
        </div>
      </div>
    </div>
  </div>
</div>
